.konva_canvas_wrap {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .w-full {
    width: 100%;
  }
  .h-full {
    height: 100%;
  }
  .bg-black {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .pointer-events-none {
    pointer-events: none;
  }
  .opacity-50 {
    opacity: 0.5;
  }
}
